.collection-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  width: 22vw;

  .image {
    background-position: center;
    background-size: cover;
    height: 95%;
    margin-bottom: 5px;
    width: 100%;
  }

  .custom-button {
    display: none;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    width: 80%;

  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      display: flex;
      opacity: 0.85;
    }
  }

  .collection-footer {
    display: flex;
    font-size: 18px;
    height: 5%;
    justify-content: space-between;
    width: 100%;

    .name {
      margin-bottom: 15px;
      width: 90%;
    }

    .price {
      width: 10%;
    }
  }
}
